html {
  height: 100%;
  width: 100%;
}

main {
  background-color: #EEF4d4;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #395C6B;
  padding-left: 225px;
  padding-right: 225px;
  border: 0;
  margin: 0px;
}

a:link {
    color: #EEF4d4;
    background-color: #b1b398;
}
a:visited { color: white;   }

h3{
  font-size: 18px;
}
img {
  width: 400px;
}

ul, ol, p {
  text-align: left;
}
 /* negative margins to get rid of white space between sections*/
header { 
  background-color: #395C6B;
  color: #EEF4d4;
  text-align: center;
  border: 0;
  margin: 0px;
  margin-top: -21px;
  margin-bottom: -18px;
}

footer {
   background-color: #395C6B;
  color: #EEF4d4;
  padding: 20px;
  text-align: center;
  height: 20px;
  border: 0;
  margin: 0px;
  margin-top: -15px;
}
/* button styling*/
.btn {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}
.btn-primary {
  color: #EEF4d4;
  background-color: #395C6B;
  border-color: #2e6da4;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
